/****** General ***********/
* {
	font-family: "Raleway", sans-serif;
	margin: 0;
	padding: 0;
}

:root {
	/*** Colors ***/
	--main-color: #0065fc;
	--main-bg-color: #f2f2f2;
	--filter-bg-color: #deebff;
	--second-bg-color: white;
	--main-font-color: black;

	/*** Fonts ***/
	--normal-size: 16px;
	--big-size: 18px;
	--small-size: 14px;
}

input::placeholder {
	color: var(--main-font-color);
	opacity: 1;
}

.fa-solid {
	color: var(--main-color);
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--main-font-color);
}

.main-container {
	width: 100%;
	max-width: 1440px;
	padding: 0 50px;
	margin: 0 auto;
	box-sizing: border-box;
}

main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 35px;
	margin: 35px 0 35px 0;
}

.section-title {
	margin: 0;
	font-size: 22px;
}

.card {
	background-color: var(--second-bg-color);
	border-radius: 20px;
	padding: 5px;
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-link {
	width: 100%;
	height: 100%;
}

.card img {
	object-fit: cover;
}

.card-title {
	font-size: var(--normal-size);
}

.card-subtitle,
.fa-star {
	font-size: var(--small-size);
}

.euro {
	font-weight: 700;
}

.neutralStar {
	color: var(--main-bg-color);
}

/****** Header ******/

header {
	width: 100%;
	height: 79px;
	display: flex;
	justify-content: space-between;
}

.container-logo {
	height: 79px;
	width: 100%;
}
.navigation-logo {
	height: 19px;
	margin: 30px 0;
}

.navigation {
	display: flex;
	gap: 68px;
	width: 300px;
}

.navigation-item {
	width: 100%;
	text-align: center;
	padding-top: 16px;
	color: var(--main-color);
}

.navigation-link {
	margin-top: 16px;
	text-align: center;
	height: 19px;
}

.navigation-item:hover {
	border-top: 2px var(--main-color) solid;
	padding-top: 14px;
}

.navigation-item:hover > .navigation-link {
	color: var(--main-color);
}

/****** Filters *******/

.info {
	width: 100%;
}

.info-title {
	margin-bottom: 8px;
}

.info-text {
	font-size: var(--normal-size);
}

.info-form {
	display: flex;
	height: 50px;
	border: 1px solid var(--main-bg-color);
	border-radius: 15px;
	width: 377px;
	margin-top: 30px;
}

.info-label {
	min-width: 50px;
	position: relative;
	background-color: var(--main-bg-color);
	border-radius: 15px 0 0 15px;
}

.fa-location-dot {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--main-font-color);
}

.info-search {
	border: none;
	font-size: var(--big-size);
	font-weight: 700;
	color: var(--main-font-color);
	margin-left: 24px;
	width: 170px;
}

.info-search:focus-visible {
	outline: none;
}

.info-submit {
	border-radius: 0 15px 15px 0;
	border: 1px var(--main-color) solid;
	background-color: var(--main-color);
	color: white;
	font-weight: 700;
	font-size: var(--big-size);
	padding: 15px 16px;
	align-self: center;
	cursor: pointer;
}

.info-submit-sr {
	display: none;
}
.filter-bar {
	height: 50px;
	margin-top: 30px;
	display: flex;
	align-items: center;
	gap: 15px;
}

.filter-content {
	display: flex;
	gap: 15px;
}

.filter-sr {
	display: flex;
	gap: 15px;
}
.filter-title {
	font-size: var(--big-size);
}

.filter-button {
	background-color: var(--second-bg-color);
	height: 100%;
	padding: 15px 19px;
	border: 2px var(--main-bg-color) solid;
	border-radius: 25px;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
}

.filter-icon {
	font-size: var(--normal-size);
}

.button-text {
	/*Text in filter-button*/
	font-size: calc(var(--normal-size) + 1px);
	font-weight: 700;
	font-style: normal;
	line-height: 20px;
}

.filter-button:hover {
	background-color: var(--second-bg-color);
}

.info-bar {
	margin-top: 30px;
	height: 24px;
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
}

.fa-info {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	width: 24px;
	height: 24px;
	border: 1px var(--main-bg-color) solid;
	border-radius: 50%;
}

/****** Hebergements And Populaires ***********/

#hebergements-and-populaires {
	display: flex;
	gap: 50px;
}

#hebergements-and-populaires section {
	background-color: var(--main-bg-color);
	border-radius: 15px;
	padding: 30px;
	box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
	width: 65%;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.hebergements-cards {
	width: 100%;
	display: flex;
	gap: 30px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.hebergements-cards .card {
	width: calc(33.33% - (30px));
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.hebergements-cards img {
	width: 100%;
	height: 124px;
	border-radius: 20px 20px 0 0;
	box-sizing: border-box;
}

.hebergements-cards .card-content {
	padding: 4px 15px 15px 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-sizing: border-box;
	gap: 8px;
}

.hebergements-cards .card-text {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.hebergements-more {
	font-size: var(--big-size);
}

/****** Populaires ***********/

.populaires {
	width: 32%;
}

.populaires-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.populaires-cards .card {
	margin-top: 33px;
}

.populaires-cards .card-link {
	display: flex;
}

.populaires .populaires-cards img {
	width: 33%;
	height: 136px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
	width: 67%;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.populaires-cards .card-title {
	margin-top: 10px;
	margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
	margin: 0;
}

.populaires-cards .card-rating {
	margin-bottom: 5px;
}

/****** Activities *******/

#activities {
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.activities-cards {
	width: 100%;
	display: flex;
	gap: 30px;
}

.activities-cards .card {
	width: 25%;
}

.activities-card .card-link {
	height: 439px;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.activities-cards img {
	height: 380px;
	width: 100%;
	border-radius: 20px 20px 0 0;
}

.activities-cards .card-content {
	display: flex;
	flex-direction: column;
	padding: 20px 19px;
}

/****** Footer *******/

footer {
	display: flex;
	justify-content: space-between;
	background-color: var(--main-bg-color);
}

.footer-section {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 33.33%;
}

.footer-title {
	font-size: var(--big-size);
}

.footer-text {
	font-size: var(--normal-size);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
	.filter-bar {
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		height: 100px;
	}

	.button-text {
		/*filter-button text*/
		font-size: var(--normal-size);
	}

	#hebergements-and-populaires {
		flex-direction: column;
	}

	#hebergements-and-populaires section {
		border-radius: 15px;
	}

	.hebergements {
		width: 100%;
	}

	.populaires {
		width: 100%;
	}

	.populaires-cards {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.populaires-cards .card {
		width: 30%;
	}

	.populaires-cards .card-title {
		font-size: 14px;
	}

	.populaires-cards .card-subtitle {
		font-size: 13px;
	}

	.activities-cards img {
		height: 200px;
	}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
	.main-container {
		padding: 0;
	}

	/* Header */

	header {
		flex-direction: column;
		align-items: center;
		height: auto;
	}
	.container-logo {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.navigation {
		width: 100%;
		gap: 0;
	}

	.navigation-item {
		border-bottom: 2px var(--main-bg-color) solid;
		padding-bottom: 15px;
	}

	.navigation-link {
		width: 100%;
	}
	.navigation-item:hover {
		border-top: none;
		border-bottom: 2px var(--main-color) solid;
	}

	/**** Main ****/
	main {
		margin: 30px 0;
	}

	/*** Info ***/

	.info {
		padding: 0 20px;
		width: calc(100% - 40px);
	}

	.info-form {
		width: calc(100% - 10px);
	}
	.info-search {
		width: fit-content;
	}
	.info-submit-sr {
		display: block;
		position: absolute;
		right: 20px;
		border-radius: 15px;
		background-color: var(--main-color);
		width: 50px;
		height: 50px;
		cursor: pointer;
	}
	.fa-search {
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-weight: 700;
		font-size: var(--big-size);
	}
	.info-submit {
		display: none;
	}
	.filter-bar {
		height: 150px;
	}
	.filter-content {
		width: 100%;
		flex-direction: column;
	}
	.filter-sr {
		width: 100%;
	}
	.filter-button {
		width: 100%;
		box-sizing: border-box;
		justify-content: flex-start;
		gap: 10px;
	}
	.button-text {
		font-size: 15px;
	}
	/***Hebergements and populaires***/

	#hebergements-and-populaires {
		flex-direction: column-reverse;
		gap: 0;
		width: 100%;
	}

	#hebergements-and-populaires section {
		border-radius: 0;
		width: 100%;
		padding: 30px 20px;
	}
	.populaires-title {
		margin-bottom: 15px;
	}
	.populaires-cards {
		flex-direction: column;
		width: 100%;
		gap: 15px;
	}
	.populaires-cards .card {
		width: calc(100% - 10px);
		margin-top: 0;
	}

	#hebergements-and-populaires .hebergements {
		background-color: var(--second-bg-color);
	}

	.hebergements-cards {
		flex-direction: column;
	}

	.hebergements-cards .card {
		width: calc(100% - 10px);
	}

	.hebergements-cards .card:nth-child(1) {
		order: 1;
	}
	.hebergements-cards .card:nth-child(2) {
		order: 6;
	}
	.hebergements-cards .card:nth-child(3) {
		order: 3;
	}
	.hebergements-cards .card:nth-child(4) {
		order: 4;
	}
	.hebergements-cards .card:nth-child(5) {
		order: 2;
	}
	.hebergements-cards .card:nth-child(6) {
		order: 5;
	}
	/*** Activities ***/

	#activities {
		width: calc(100% - 60px);
	}
	.activities-cards {
		flex-direction: column;
		gap: 15px;
	}

	.activities-cards .card {
		width: calc(100% - 10px);
	}

	/*** Footer ***/
	footer {
		flex-direction: column;
		gap: 50px;
		width: 100%;
		box-sizing: border-box;
		padding: 30px 0;
	}
	.footer-section {
		padding: 0 30px;
		width: calc(100% - 60px);
	}
}
